* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
  position: relative;
}

.snackbar {
  width: 300px;
  height: 80px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  transition: transform 0.6s ease-out;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 0px;
  transform: translateY(90px);
}
@media (max-width: 575.9px) {
  .snackbar {
    right: 10px;
  }
}
.snackbar.isShown {
  transform: translateY(-30px);
}
.snackbar-icon {
  max-width: 60px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.snackbar-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90px;
  font-size: 12px;
}
.snackbar-text-heading {
  margin-bottom: 8px;
  color: #292d34;
  font-size: 16px;
  font-weight: 900;
}
.snackbar-text-paragraph {
  color: #7c828d;
}
.snackbar-close-btn {
  position: absolute;
  top: 50%;
  left: calc(100% - 10px);
  transform: translate(-100%, -50%);
  cursor: pointer;
}

.show-snackbar-btn {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 100%;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  cursor: pointer;
  transition: all 0.25s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show-snackbar-btn:hover {
  transform: translate(-50%, calc(-50% - 5px));
}
.show-snackbar-btn img {
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jssecrets {
  text-decoration: none !important;
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1em;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 4px 12px rgba(184, 144, 0, 0.1882352941), 0px 8px 24px rgba(184, 144, 0, 0.3764705882);
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
}
.jssecrets:hover {
  transform: translateY(-4px);
}