@import 'reset';
@import 'variables';

body {
  height: 100vh;
  background: $body-gradient;
  position: relative;
}

.snackbar {
  width: 300px;
  height: 80px;
  background: white;
  border-radius: 8px;
  box-shadow: $shadow-grey-soft;
  transition: transform 0.6s ease-out;
  position: fixed;
  z-index: 100;
  right: 30px;
  bottom: 0px;
  transform: translateY(90px);

  @media (max-width: 575.9px) {
    right: 10px;
  }

  &.isShown {
    transform: translateY(-30px);
  }

  &-icon {
    max-width: 60px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
  }
  &-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 90px;
    font-size: 12px;
    &-heading {
      margin-bottom: 8px;
      color: $color-grey-5;
      font-size: 16px;
      font-weight: 900;
    }
    &-paragraph {
      color: $color-grey-4;
    }
  }

  &-close-btn {
    position: absolute;
    top: 50%;
    left: calc(100% - 10px);
    transform: translate(-100%, -50%);
    cursor: pointer;
  }
}

.show-snackbar-btn {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 100%;
  box-shadow: $shadow-grey-soft;
  cursor: pointer;
  transition: all 0.25s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, calc(-50% - 5px));
  }

  img {
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.jssecrets {
  text-decoration: none !important;
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1em;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 4px 12px #b8900030, 0px 8px 24px #b8900060;
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-4px);
  }
}
